body {
    background-color: #BBDAFF;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.table {
    padding-left: 10%;
    padding-right: 10%;
}

table, thead {
    border: 1px solid black;
    padding-left: 0.4%;
    text-align: center;
    border-collapse: collapse;
}

.subnet_table td {
    width: 10%;
}

.subnet_table {
    right: 50%;
}

.form {
    padding-left: 10%;
}

.error {
    display: none;
    color: red;
}

